* {
    box-sizing: border-box;
    font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
    margin-top: 10px;
    padding: 0;
    color: #393939;
}

.outerBox {
    margin: 1em;
    display: flex;
    flex-direction: column;
}



.creator{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1em;
    margin-top: 1em;
    align-items: center;
    justify-items: center;
}

.container {
    margin: 1em;
    line-height: 1.5em;
}

.portfolioItems {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.performanceDisplay{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box label{
    margin: 0.5em;
}

.action-buttons{
    grid-column-start: 2;
    grid-column: 1/5;
    justify-content: center;   
}

.action-buttons input{
    padding: 5px 50px;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 1.5em;
}

#header {
    text-align: center;
    letter-spacing: .2em;
    margin-bottom: 1em;
}

//  Login Page
.loginBox {
    display: grid;
    grid-template-columns: 1 fr;
    grid-template-rows: auto;
    justify-content: center;   
    justify-items: center;
    grid-template-areas: 
    "username"
    "password"
    "button";
}

#usernameBox {
    grid-area: username;
}

#passwordBox {
    grid-area: password;
}

.loginBox .action-buttons {
    grid-area: button;
}

.loginBox .action-buttons input{
    padding: 5px 30px;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 1.5em;
}